@import "../../../styles/abstracts/variables";

.animal-image {

}

.date-save-input {
  width: 100%
}

.create-case__input-boxs {
  &>div {
    margin-bottom: 1rem;
  }
}

.report-table {
  &>div>div {
    border: 1px solid $grey_color;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__header {
    padding: .5rem 0;
    background-color: lighten($green_light_color, 10);
  }
}