@import "../../../../styles/abstracts/variables";

.filter-row {
  margin-bottom: 2.5rem;
}

.count-case {
  padding: .5rem 3rem;
  background: lighten($primary_color, 10);
  color: white;
  font-weight: bold;
}

.list-case-table .ant-image-img{
  object-fit: cover;
}

.list-case-table {
  & .ant-table table {
    text-align: left;
    position: relative;
    //border-collapse: collapse;

    & .ant-table-thead > tr > th {
      position: sticky;
      top: 0; /* Don't forget this, required for the stickiness */
      //box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
      z-index: 1000;
    }
  }
}

.animal-place-name {
  color: $primary_color
}

.animal-place-name:hover {
  color: darken($primary_color,10)
}