@import "../../../styles/abstracts/variables";

.header {
  position: fixed;
  background-color: #F4F5FA;
  height: 100%;
  width: 280px;
  -webkit-box-shadow: 10px -7px 40px -10px $light_gray_3;
  -moz-box-shadow: 10px -7px 40px -10px $light_gray_3;
  box-shadow: 10px -7px 40px -10px $light_gray_3;

  & a:hover {
    color: $primary_green
  }

  &--choose-language-box {
    position: absolute;
    bottom: 55px;
    left: 25px;

    &.ant-menu-submenu-title {
      width: 150px
    }
  }

  &-logo-box {
    display: flex;
    justify-content: center;
    align-items: center;

    &-logo {
      width: 130px;
      margin-top: 40px;
    }
  }

  &-svg {
    margin-top: 40px;
    margin-left: 40px;
    padding-bottom: 20px
  }

  &-menu-desktop {
    display: flex;
    align-items: flex-end;

    &-content {
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 100;
      top: 11px;
      left: 40px;
    }

    &-item {
      margin-right: 40px;
      padding: 10px 0;
      transition: all .2s;
      height: 45px;

      &-text {
        padding-left: 10px;
      }

      &::before {
        content: "";
        position: absolute;
        border-radius: 0 25px 25px 0;
        width: 90%;
        height: 100%;
        z-index: 10;
        background: $light_gray_2;
        top: 0;
        left: -100%;
        transition: all .4s;

        & span {
          font-size: 14px;
        }
      }

      &:hover::before {
        left: 0;
      }
    }
  }

  & .ant-menu-submenu-arrow {
    padding-left: 10px;
  }

  & .first-col {
    height: 70%;
  }
}

.menu-box {
  padding: 15px 0;
  border-bottom: 1px solid $light_gray_2;
}

.ant-menu {
  background: #F4F5FA;
}

.bottom-vector {
  border-bottom: 1px solid $light_gray_2;
}

@media only screen and (max-width: 576px) {
  .header {
    min-height: 6vh;
    background: none;
  }
}

@media only screen and (max-width: 992px) {
  .header {
    position: fixed;
    height: auto;
    width: 100%;
    padding: 0 5%;
    background-color: #F4F5FA;
    z-index: 1;

    &-logo-box {
      justify-content: start;

      &-logo {
        width: 90px;
        margin-top: 10px;
      }
    }

    &-username {
      margin-right: 10px;
    }

    &-menu {
      border-radius: 50%;
      font-size: 20px;
      padding: 7px;

      &-box {
        text-align: right;
        padding: 10px 0 0 0;
      }
    }
  }

  & .ant-dropdown-menu-submenu-title .anticon svg {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .header {
    &-username {
      padding-left: 10px;
    }
  }
}

.dropdown-lang {
  margin-left: 40px;

  &:hover {
    transform: translateY(-2px);
    color: $primary_green;
  }

  &:active {
    transform: translateY(2px);
    color: $primary_green;
  }
}

.primary-color {
  color: $primary_green !important;
}
