@import "../../../styles/abstracts/variables";

.report-table {
  &>div>div {
    border: 1px solid #333;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__header {
    padding: .5rem 0;
    //background-color: lighten($green_light_color, 10);
  }

  &>table{
    width: 100%;
    border: 1px solid #333;

    & th, & td {
      padding: .5rem;
      text-align: center;
    }

    & * {
      border: 1px solid #333;
      padding: 0;
    }
  }
}

.report-header {
  //background-color: $green_light_color;
  text-align: center;

  &__title {
    font-size: 2.5rem;
    color: $primary_color;
  }

  &__filter {
    display: flex;
    justify-items: center;
    justify-content: center;
  }
}

.button-export {
  border: none;
  background-color: inherit;
  color: $primary_color;
  text-decoration: underline;
  cursor: pointer;
  transition: .1s;
  margin-bottom: 1rem;

  &:hover {
    transform: translateY(-1px);
  }
  &:active {
    transform: translateY(0);
  }
}