@import "../../styles/abstracts/variables";

.ant-upload-list-picture-card .ant-upload-list-item,
.ant-upload-list-picture-card-container {
  width: 150px !important;
  height: 150px !important;
}

.ant-divider-horizontal.ant-divider-with-text::before,
.ant-divider-horizontal.ant-divider-with-text::after {
  border-top-color: $primary_color !important;
}