@import "../../../styles/abstracts/variables";

.detail-user-page {
  & .row-info {
    border-bottom: 1px solid $grey_color;
    padding: .5rem 0;
  }

  & .button-link {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
