@import "../../../styles/abstracts/variables";

.filter-row {
  margin-bottom: 2.5rem;
}

.count-case {
  background: lighten($primary_color, 50%);
}

.list-case-table .ant-image-img{
  object-fit: cover;
}